input{
    width: 200px;
    color: red;
    height: 22px;
    font-size: 20px;
    padding: 5px 10px;
    border: solid 1px blue;
    border-radius: 5px;
    background-color: yellow;
}

input:focus{
    outline: none;
    background-color:  chartreuse;
    color: white;
   font-weight      : bold;
}

input:hover{
    border: dotted 2px red;
    height: 30px;
    font-size: 26px;
    background-color: yellowgreen;
   
}

input::placeholder{
    color: gray;
    font-weight: normal;
    font-size: 20px;
}

label{
    display: inline-block;
    width: 100px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 20px;
}

form div{
    margin: 10px;
}

input[type="password"]{
    background-color: aqua;
    
}

input[type="text"]{
    text-transform: capitalize;
}

input[maxlength="6"]{
    width: 120px;
}

input[type="checkbox"],[type="radio"]{
    width: 1em; 
}
select option{
    text-transform: capitalize;
    font-style: italic;
    color: red;
}

select{
    color: black;
    background-color: yellow;
    font-weight: bold;
}