table{
    border: solid 3px green;
    border-spacing: 0px 0px;
    border-collapse: collapse;
    counter-reset: riga 0 colonna 0;

}

tr{
    counter-increment: contaTr 1;
    counter-reset: colonna 0;
}


td {
    counter-increment: contaTd 1;
    border: solid 1px black;
    width: 50px;
    height: 50px;
    font-weight: bold;
    color:  blue;
    text-align: center;
}

td:before{
    content: ''counter(contaTr)'';   
}

td:after{
    content: ''counter(contaTd,upper-alpha)'';
}


